.edit-category-modal {
    width: 100vw;
    height: 100vh;
    top: 0; left: 0; right: 0; bottom: 0;
    position: fixed; z-index: 101;
    background-color: #f1f5f9;
}
.edit-category-modal-content {
    position: absolute; top: 45%; left: 55%; transform: translate(-50%, -50%);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 1.4;
    background: #e7e7e7;
    padding: 14px 28px; border-radius: 10px;
    font-size: 1.1rem;
    width: 30vw;   height: 55vh;
    z-index: 109;
    text-decoration: underline;
}
.category-name2{
    position: absolute;  top: 10rem;
    font-size: 1.7rem;
}
.category-name2 input{
    width: 25vw;   height: 5.7vh;  padding-left: 0.8rem;  border-color: #281e07; border-radius: 7px;
    font-size: 0.9rem;
    margin-top: 10px;
}
.category-name2 label,.category-name2 input{
    display: block;
}
.category-name-add-btn2{
    position: absolute; right: 2rem;  bottom: 2rem;
}
.category-name-add-btn2 button{
    width: 7rem;  height: 3rem;
}