/*css fro registration-modal*/
body.active-register-modal {
    overflow-y: hidden;
}
.register-modal, .register-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 101;
    backdrop-filter: blur(3px);
}
.register-modal-content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: lightgoldenrodyellow;
    padding: 14px 28px;
    border-radius: 0px;
    font-size: 1.1rem;
    width: 30vw;
    height: 87vh;
    z-index: 102;
}
.register-modal-content h2{
    font-size: 2rem;
    color: #162938;
    text-align: center;
    text-decoration: underline;
}

.close-register-btn {
    width: 3vw;
    height: 3vw;
    background: none;
    box-shadow: none;
    color: #222222;
    border-radius: 9px;
    position: absolute;
    top: 0.4rem;
    right: 0.4rem;
    padding: 7px 3px 0 3px;
    margin-bottom: -20px;
}
.close-register-btn:hover{
    box-shadow: none;
    color:  #f3ad16
}
.reg-input-box  .useremail, .useremail, .password {
    position: relative;
    width: 100%;
    height: 25px;
    border-bottom: 2px solid#162938;
    margin: 45px 0;
}
.reg-input-box .username{
    width: 100%;
    height: 25px;
    border-bottom: 2px solid#162938;
    margin: 45px 0;
    justify-content: space-between;
}

/*.reg-input-box {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/



.reg-input-box .username input {
    width: 183px; /* Adjust the width as needed */
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}

.reg-input-box input {
    width: 20vw;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
}
.reg-input-box .iconname, .iconmail, .iconuser, .iconpassword{
    position: absolute;
    right: 30px;
    font-size: 1.2rem;
    color: #162938;
    line-height: 1px;
}
.security-question .answer{
    position: relative;
    width: 100%;
    height: 22px;
    border-bottom: 2px solid#162938;
    margin: 15px 0

}
.security-question input{
    width: 20vw;
    height: 100%;
    /*margin: -1px 0;*/
    background: transparent;
    border: none;
    outline: none;
}
.btn-signup10{
    width: 16vw;
    height: 7vh;
    background: lightpink;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 500;
    display: block;
    margin: 0 auto;
}
/*.login-text{*/
/*    position: absolute;*/
/*    bottom: 2%;*/
/*    right: 2%;*/
/*}*/
/*.login-text:hover{*/
/*    cursor: pointer;*/
/*}*/
